body {
    background-color: black;
}

/*GAY FLAG START*/
.one_one {
    border: none;
    width: 295px;
    height: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #078D70
}
.one_two {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #26CEAA;
}
.one_three {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #98E8C1;
}
.one_four {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #fff;
}
.one_five {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #7BADE2;
}
.one_six {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #5049CC;
}
.one_seven {
    border: none;
    width: 295px;
    height: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #3D1A78;
}
/*GAY FLAG END*/


/* LESBIAN FLAG START */
.two_one {
    border: none;
    width: 295px;
    height: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #F72700;
}
.two_two {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #FF6402;
}
.two_three {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #FE9A51;
}
.two_four {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #fff;
}
.two_five {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #FF9FD9;
}
.two_six {
    border: none;
    width: 295px;
    height: 20px;
    background-color: #E520C0;
}
.two_seven {
    border: none;
    width: 295px;
    height: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #A7016F;
}
/* LESBIAN FLAG END */


/* BI FLAG START */
.three_one_one {
    border: none;
    width: 295px;
    height: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #D70270;
}
.three_one {
    border: none;
    width: 295px;
    height: 37.5px;
    background-color: #D70270;
}
.three_two {
    border: none;
    width: 295px;
    height: 25px;
    background-color: #734F96;
}
.three_three {
    border: none;
    width: 295px;
    height: 37.5px;
    background-color: #0038A8;
}
.three_three_one {
    border: none;
    width: 295px;
    height: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #0038A8;
}
/*BI FLAG END*/


/*PAN FLAG START*/
.four_one_one {
    border: none;
    width: 295px;
    height: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #FF218C;
}
.four_one {
    border: none;
    width: 295px;
    height: 26.66px;
    background-color: #FF218C;
}
.four_two {
    border: none;
    width: 295px;
    height: 46.66px;
    background-color: #FFD800;
}
.four_three {
    border: none;
    width: 295px;
    height: 26.66px;
    background-color: #21B1FF;
}
.four_three_one {
    border: none;
    width: 295px;
    height: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #21B1FF;
}
/*PAN FLAG END*/


/*ASEXUAL FLAG START*/
.five_one_one {
    width: 291px;
    height: 20px;
    background-color: #000;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 2px solid #fff;
    border-bottom-style: none;
}
.five_one {
    width: 291px;
    height: 15px;
    background-color: #000;
    border: 2px solid #fff;
    border-bottom-style: none;
    border-top-style: none;
}
.five_two {
    width: 295px;
    height: 35px;
    background-color: #A3A3A3;
}
.five_three {
    width: 295px;
    height: 35px;
    background-color: #fff;
}
.five_four {
    width: 295px;
    height: 15px;
    background-color: #81007F;
}
.five_four_one {
    width: 295px;
    height: 20px;
    background-color: #81007F;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}